<html>
    <head>
        <title>Eventem Dashboard</title>
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>        <link rel="stylesheet" href="/stylesheets/style.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:600i" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/stylesheets/style.css">
       <script type="text/javascript"
       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
       </script>
       <script type="text/javascript"
       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
       </script>
       <script type="text/javascript">
        $('#datetimepicker').datetimepicker({
          format: 'dd/MM/yyyy hh:mm:ss',
          startDate: new Date(),
          language: 'en'
        });
        </script>
    </head>





<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fas fa-coffee"></i> <span style="font-family: 'Raleway', sans-serif;">Eventem</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/events"><i class="fas fa-tasks"></i> Events </a></li>
                <li> <a href="/dashboard" class="active"><i class="fas fa-desktop"></i> Dashboard</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown"><i class="far fa-user"></i> <%= username %> <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>

<!-- /Header -->

<!-- Main -->

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" style="text-align:center;">
    <strong><span class="fas fa-tasks"></span> My Events</strong>
    <hr>
    <% if(Array.isArray(events) && events.length ) { %>
    <div class="list-group" style="text-align:left;">
      <% events.forEach(function(event) { %>
        <a href="/dashboard" class="list-group-item"><i class="fa fa-calendar"></i> <%= event.event_name %></a>
      <% }) %>
    </div>
    <% } else { %>
    <div class="jumbotron">
      You haven't created any events.
    </div>
    <% } %>
</div><!-- /span-3 -->
<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <!-- Right -->

    <div id="event_form" class="jumbotron">
      <form action="/dashboard" method="post">
        <div style="text-align:center; font-size:150%">
          Create an Event!
        </div>
        <div>
          <div>
            Event Name
          </div>
          <input type="text" name="event_name" placeholder="Event Name:">
        </div>
        <div>
          <div>
            Description
          </div>
          <input type="text" name="description" placeholder="Description:">
        </div>
        <div>
          <div>
            Event Time
          </div>
          <div style="width:50%">
            <input type="date" name="mdy"></input>
          </div>
          <div style="width:50%">
            <input type="time" name="hm"></input>
          </div>
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
      </form>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" style="text-align:center;">
    <strong><span class="fas fa-tasks"></span> Events signed up for</strong>
    <hr>
    <% if(Array.isArray(attending_events) && attending_events.length ) { %>
    <div class="list-group" style="text-align:left;">
      <% attending_events.forEach(function(event) { %>
        <a href="/dashboard" class="list-group-item"><i class="fa fa-calendar"></i> <%= event.event_name %></a>
      <% }) %>
    </div>
    <% } else { %>
    <div class="jumbotron">
      You haven't signed up for any events.
    </div>
    <% } %>
</div><!-- /span-3 -->

<div id="eventModal" class="modal fade" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="eventName"></h3>
      </div>
      <div id="eventDetails" class="modal-body"></div>
      <div id="eventTime" class="modal-body"></div>
      <div id="eventAttendees" class="modal-body"></div>
      <div class="modal-footer">
        <form id="updateEventForm" action="" method="post">
          <button class="btn" id="targetButton" type="submit"></button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div><!-- /span-3 -->

<script type="text/javascript">
$('tr.viewevent').click(function (e) {
  e.preventDefault();
  var tr = $(this).closest('tr'),
      modal = $('#eventModal');
      eventid = tr.data('id');
  $.getJSON('/events/' + eventid, function(data) {
    if (data.attendees.includes(data.current_user)) {
      modal.find('#updateEventForm').attr("action", "/dashboard/removeuser/"+eventid);
      modal.find('#targetButton').addClass("btn-danger")
      modal.find('#targetButton').html('Leave');
    } else {
      modal.find('#updateEventForm').attr("action", "/events/"+eventid);
      modal.find('#targetButton').addClass("btn-primary");
      modal.find('#targetButton').html('Attend');
    }
    modal.find('#eventName').html(''+data.event_name+'');
    modal.find('#eventDetails').html('About this event: '+data.description+'');
    modal.find('#eventTime').html('This event is happening on: '+data.event_time_formatted+'');
    modal.find('#eventAttendees').html('There are '+data.attendees.length+' people attending this event that was created by '+data.username+'.');
    modal.modal('show');
  });
});
</script>

</html>
