<html>
    <head>
        <title>Eventem Signup</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600i" rel="stylesheet">

    </head>

    <div class="container-fluid h-100">
      <div class="row d-flex flex-lg-column flex-row">
          <aside class="col-2 col-lg-12 h-md-100 p-0 bg-dark fixed-top">
              <nav class="navbar navbar-expand navbar-dark bg-dark py-2 px-0 px-lg-2">
                  <div class="collapse navbar-collapse" id="nav">
                      <ul class="flex-column flex-lg-row navbar-nav w-100 justify-content-center align-items-center align-items-sm-start text-left text-lg-center">
                          <li class="nav-item w-100">
                              <a class="nav-link text-nowrap" href="/"><i class="fa fa-coffee fa-fw"></i> <span class="d-none d-sm-inline font-weight-bold" style="font-family: 'Raleway', sans-serif;">Eventem</span></a>
                          </li>
                          <li class="nav-item w-100">
                              <a class="nav-link active text-truncate" href="/signup"><i class="fa fa-user-plus fa-fw"></i> <span class="d-none d-sm-inline">Sign Up</span></a>
                          </li>
                          <li class="nav-item w-100">
                              <a class="nav-link text-truncate" href="/dashboard"><i class="far fa-newspaper fa-fw"></i> <span class="d-none d-sm-inline">Dashboard</span></a>
                          </li>
                          <li class="nav-item w-100">
                              <a class="nav-link text-truncate" href="/login"><i class="fa fa-user-circle fa-fw"></i> <span class="d-none d-sm-inline">Log In</span></a>
                          </li>
                          <li class="nav-item w-100">
                              <a class="nav-link text-truncate" href="/logout"><i class="fa fa-sign-out-alt fa-fw"></i> <span class="d-none d-sm-inline">Log Out</span></a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </aside>
          <!-- <div class="page-header" style="margin-top:0em">
              <h1><strong><a href="/">Eventem</a></strong></h1>
          </div> -->
          <main class="container-fluid" id="main">
            <br>
            <div class="row">

            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="jumbotron col">
                    <form action="/signup" method="post">
                        <div style="font-family: 'Raleway', sans-serif; text-align:center; font-size:200%">
                          Eventem
                        </div>
                        <div>
                            <!-- <label>Username:</label> -->
                            <div>
                              Username
                            </div>
                            <input type="text" name="username" placeholder="Username:"/>
                        </div>
                        <br>
                        <div>
                            <!-- <label>Password:</label> -->
                            <div>
                              Email
                            </div>
                            <input type="text" name="email" placeholder="Email:"/>
                        </div>
                        <br>
                        <div>
                            <!-- <label>Password:</label> -->
                            <div>
                              Password
                            </div>
                            <input type="password" name="pass_hash" placeholder="Password:"/>
                        </div>
                        <br>
                        <div>
                            <input class="btn btn-primary" type="submit" value="Sign Up"/>
                        </div>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>
          </main>
      </div>
    </div>

</html>
